{% extends "base.html" %}

{% block page_body %}

<div class="row">
    <div class="col-lg-5 col-md-1"></div>
    <div class="col-lg-2 col-md-10">
        <select name="show_for_user" id="show_for_user">
            <option value="all">Whole family</option>
            {% for member in params.current_user.family_members %}
                <option value="{{ member.id }}">{{ member.fname }} {{ member.lname }}</option>
            {% endfor %}
        </select>
        </div>
    <div class="col-lg-5 col-md-1"></div>
</div>

<div class="row d-block d-sm-none">
    <div class="col"><hr /></div>
</div>

<div class="row">
    <div id="month_number" class="d-none">{{ params.month_number }}</div>
    <div class="col-3 col-lg-5 text-end" id="show_previous_month"><<</div>
    <div class="col-6 col-lg-2">Month: <span id="selected_month_year" class="bold">{{ params.month }} {{ params.year }}</span></div>
    <div class="col-3 col-lg-5 text-start" id="show_next_month">>></div>
</div>

<div class="row d-block d-sm-none">
    <div class="col"><hr class="lh-lg text-danger" /></div>
</div>

<div class="row">
    <div class="col d-none d-sm-block">
        No.
    </div>
    <div class="col">
        Comment
    </div>
    <div class="col d-none d-sm-block">
        Date of purchase
    </div>
    <div class="col">
        Category
    </div>
    <div class="col">
        Sum
    </div>
    <div class="col d-none d-sm-block">
        Payment of Payments
    </div>
    <div class="col d-none d-sm-block">
        Name
    </div>
</div>
<hr />
<div id="purchases_container">
{% for purchase in params["purchases"] %}
    <div id="parent-collapse-purchase-{{ loop.index }}" class="row {{ 'dashed_bottom' if loop.index != params['purchases']|length else '' }}" data-bs-toggle="collapse" href="#collapse-purchase-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapsePurchases">
        <div class="col d-none d-sm-block">
            <!-- TODO: Edit purchases preparation. Remove backslashes when needed.-->
            <a href="\{\{url_for('main.egit_purchase')\}\}/{{ purchase.id }}">{{ loop.index }}</a>
        </div>
        <div class="col">
            {{ purchase.comment }}
        </div>
        <div class="col d-none d-sm-block">
            {{ purchase.date.strftime("%d/%m/%Y") }}
        </div>
        <div class="col">
            {{ purchase.category.name }}
        </div>
        <div class="col">
            {{ purchase.sum.replace("$", "") }}
        </div>
        <div class="col d-none d-sm-block">
            {% if purchase.payment_number != purchase.number_of_payments %}
                {{ purchase.payment_number }} / {{ purchase.number_of_payments }}
            {% endif %}
        </div>
        <div class="col d-none d-sm-block">
            {{ purchase.user.fname }}
        </div>
        <div class="member_id d-none">{{ purchase.user_id }}</div>
    </div>
    <div class="d-block d-sm-none">
        <div class="collapse" id="collapse-purchase-{{ loop.index }}">
            <div class="card card-body">
                <div class="row text-wrap">
                    <div class="col-3">ID</div>
                    <div class="col-3">Date of purchase</div>
                    <div class="col-3">
                        {% if purchase.payment_number != purchase.number_of_payments %}
                            Payment
                        {% endif %}
                    </div>
                    <div class="col-3">Name</div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <!-- TODO: Edit purchases preparation. Remove backslashes when needed.-->
                        <a href="\{\{url_for('main.egit_purchase')\}\}/{{ purchase.id }}">{{ loop.index }}</a>
                    </div>
                    <div class="col-3">{{ purchase.date.strftime("%d/%m/%Y") }}</div>
                    <div class="col-3">
                        {% if purchase.payment_number != purchase.number_of_payments %}
                            {{ purchase.payment_number }} / {{ purchase.number_of_payments }}
                        {% endif %}
                    </div>
                    <div class="col-3">{{ purchase.user.fname }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<hr/>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
        Total sum: {{ params.total_sum }}
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}

{% block javascript %}
    {% include  "purchases/purchases.js" %}
{% endblock %}
