{% extends "base.html" %}

{% block page_body %}
<div>
    <span>{{ params.user.lname }}</span>
</div>
<h1>
    <div>Current balance for {{ params.current_month_name }}:</div>
    <div>{{ params.balance.current }} from {{ params.balance.defined }}</div>
</h1>

<br/>

<hr>
<div class="container">
    <div class="row frame m-2">
        <div class="col">
            <div class="row my-1">
                <div class="col-5 col_name">
                    Sum
                </div>
                <div class="col-5" id="sum-div">
                    <input type="text" class="form-control" placeholder="0.00" id="sum">
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Category
                </div>
                <div class="col-5">
                    <input class="form-control" list="categories-datalist" id="category_name" placeholder="Type to search..." autocomplete="true" aria-describedby="category-balance-text">
                    <div id="category-balance-text" class="form-text d-none">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-8 text-end"><span id="category-balance">1234.56</span> <span id="default_currency_sign">$</span></div>
                        </div>
                    </div>
                    <input type="hidden" id="category_id">
                    <datalist id="categories-datalist">
                        <option value="Minks" data-category-id="123">
                        <option value="New York">
                        <option value="Seattle">
                        <option value="Los Angeles">
                        <option value="Chicago">
                    </datalist>
                </div>
                <div class="col-2 text-start">
                    <i class="align-bottom fa-solid fa-circle-plus" id="add_new_category"></i>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Means of payment
                </div>
                <div class="col-5">
                    <select class="form-select" id="means_of_payment">
                        <option selected="selected"></option>
                        <option value="1" data-payments-enabled="1">Credit Card</option>
                        <option value="2" data-payments-enabled="0">Cash</option>
                        <option value="3" data-payments-enabled="0">Jedi force</option>
                    </select>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Payments
                </div>
                <div class="col-5">
                    <div class="input-group" id="payments-div">
                        <span class="input-group-text" id="payments_add">+</span>
                        <input type="text" class="form-control text-center" value="1" id="payments_count" disabled="disabled">
                        <span class="input-group-text" id="payments_subtract">-</span>
                    </div>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Date
                </div>
                <div class="col-5">
                    <input class="form-control" id="datepicker">
                    <input type="hidden" id="date">
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Comment
                </div>
                <div class="col-5">
                    <textarea class="form-control"></textarea>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <hr>
            <div class="row mt-2">
                <div class="col-5">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Confirm</button>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
        </div>
    </div>
</div>



<br/>

{% include "home/modals/currency/modal_change_sum_currency.html" %}
{% include "home/modals/category/modal_new_category.html" %}
{% include "home/modals/category/modal_edit_category.html" %}

{% endblock %}

{% block javascript %}
{% include  "home/home.js" %}
{% include  "home/modals/currency/change_sum_currency.js" %}
{% include  "home/modals/category/new_category.js" %}
{% include  "home/modals/category/edit_category.js" %}
{% include  "home/choose_means_of_payment.js" %}
{% include  "home/choose_category.js" %}
{% include  "home/category_actions.js" %}
{% endblock %}