{% extends "base.html" %}

{% block page_body %}
<div>
    <span>{{ params.user.lname }}</span>
</div>
<div>
    <div class="h1">Current balance for {{ params.current_month_name }}:</div>
    <div class="h1">{{ params.balance.current }} from {{ params.balance.defined }}</div>
</div>

<br/>

<hr>
<div class="container" id="payments_frame">
    <div class="row frame m-2">
        <div class="col">
            {% include  "home/partitions/sum/sum.html" %}
            {% include  "home/partitions/category/category.html" %}
            {% include  "home/partitions/means_of_payment/means_of_payment.html" %}
            {% include  "home/partitions/payments/payments.html" %}
            <div class="row my-1">
                <div class="col-5 col_name">
                    Date
                </div>
                <div class="col-5">
                    <input class="form-control" id="datepicker" autocomplete="off" inputmode="none">
                    <input type="hidden" id="date">
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <div class="row my-1">
                <div class="col-5 col_name">
                    Comment
                </div>
                <div class="col-5">
                    <textarea id="comment" class="form-control"></textarea>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
            <hr>
            <div class="row mt-2">
                <div class="col-5">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" id="confirm_payment">Confirm</button>
                </div>
                <div class="col-2 text-start">
                </div>
            </div>
        </div>
    </div>
</div>



<br/>

{% include "home/modals/currency/modal_change_sum_currency.html" %}

{% endblock %}

{% block javascript %}

{% include  "home/modals/currency/change_sum_currency.js" %}
{% include  "home/home.js" %}

<!-- PARTITIONS -->
<!-- SUM -->
{% include  "home/partitions/sum/sum.js" %}
<!-- CATEGORY -->
{% include  "home/partitions/category/category.js" %}
{% include  "home/partitions/category/category_actions.js" %}
{% include  "home/partitions/category/modals/new_category.js" %}
{% include  "home/partitions/category/modals/edit_category.js" %}
<!-- MEANS OF PAYMENT -->
{% include  "home/partitions/means_of_payment/means_of_payment.js" %}
<!-- PAYMENTS -->
{% include  "home/partitions/payments/payments.js" %}
<!-- xx -->

<!-- END PARTITIONS -->

{% endblock %}