{% extends "base.html" %}

{% block page_body %}
<h1>
    <div>Current balance for {{ params.current_month_name }}:</div>
    <div>{{ params.balance.current }} from {{ params.balance.defined }}</div>
</h1>
<span>{{ params.user.lname }}</span>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
OPA
{% endblock %}

{% block javascript %}
    {% include  "test/test.js" %}
{% endblock %}