{% extends "base.html" %}
{% block page_body %}
<div class="container">
        {% for category in params.categories %}
        <div class="row my-1" id="cat_name_{{ category.name|e }}">
            <input type="hidden" id="current_id_{{ category.id|e }}" value="{{ category.id|e }}" />
            <div class="col-4">
                <span>Category name: </span><input name="category_name" type="text" value="{{ category.name|e }}" />
            </div>
            <div class="col-4">
                <span>Category balance: </span><input class="text-center" name="category_balance" type="number" value="{{ category.balance }}"/>
            </div>
            <div class="col-4">
                <button class="save_edited_category text-start">Save</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

    {% block javascript %}
        {% include  "category/category.js" %}
    {% endblock %}
