{% extends "auth_base.html" %}

{% block auth_page_body %}

    <div class="row">
        <div class="col text-center">Sign Up Page</div>
    </div>
    <div class="row">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control input-group " id="username" placeholder="John Doe">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3 text-center">
            <button type="submit" id="login_button" class="btn btn-primary mb-3">Login</button>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}